@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap');
body {
    font-family: 'Roboto', sans-serif; 
    background-color: #ddd;
    width: 60%;
    font-size: 18px;
    margin: 0px auto;

}
div{
    padding-bottom: 10px;
}
#sinopsis img{
    width: 200px;
    height: auto;
    display: flex;
    margin: 0px auto;
}
#sinopsis p{
    font-size: 20px;
    text-align: justify;
}
#reparto ul{
    list-style-type:square;
}
h1{
    font-size: 36px;    
    width: 100%;
    text-align: center;
    border: 4px black solid;
    border-width: 0px 0px 4px;
}
h2{
    text-align: center;
}
#info p, h3{
    text-align: center;

}

#secciones{
    border: 2px gray solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 25px;
    margin-bottom: 20px;
    
}
table,td, th{
    border: 1px solid black;
    border-collapse: collapse; 
    padding: 10px;  
    text-align: center;    
}
table{
    justify-content: center;
    border: none;
    display: flex;

}
tbody tr td:first-child{
    font-weight: bold;
}